@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Colors */
  --bg: #0f172b;
  --bg-100: #364153;
  --bg-200: #45556c;
  --accent: #2b7fff;
  --text-primary: #f5f5f4;
  --text-secondary: #cad5e2;
  --danger: #ec003f;
  --success: #00c950;
  --warning: #ffb703;
  --border: rgba(255, 255, 255, 0.3);
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-primary);
  background-color: var(--bg);
  color: var(--text-primary);
}
#root {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 5px;
}
